pub_ssh_key = "id_rsa.pub"
target_node = ""
template_name = ""
storage = ""
PM_API_URL = "https://192.168.0.191:8006/api2/json"
PM_HOST = "192.168.0.191"
PM_USER = "terraform@pam!terraform_token_id"
PM_KEY = ""
LXC_PASS = ""
LXC_HOSTNAME = ""
